@import url('./base.css');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:'Short Stack', cursive, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.pseudo-button {
  text-decoration: none;
  color: var(--color-text);
  display: block;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.pseudo-button:hover {
  background: var(--color-button-hover-background);
}

.pseudo-button:focus {
  background: var(--color-button-focus-background);
}
